/* style*/
body{
    background-image: url(https://images.unsplash.com/photo-1655159428752-c700435e9983?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.red{
    color: red;
}
.flipped{
    transform: rotate(180deg);
}
#playing-cards{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(211, 236, 207);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    min-width: 250px;
    max-width: 250px;
    height: 350px;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.left{
    align-self: flex-start;
}
.middle{
    align-self: center;
    display: flex;
    font-size: 80px;
    flex-direction: column;
}
.right{
    align-self: flex-end;
}
.middle-section{
    display: flex;
    justify-content: center;
}